<!DOCTYPE html>
<html>
	<head>
		<meta name="email" content="{{ session['user']['email'] }}">
		<title>Chatty! - Enjoy awesomeness</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
			<div class="container">
				<a class="navbar-brand" href="#">
					<img id="logo" alt="Logo" src="{{ url_for('static', filename='images/logo-02.png')}}">
				</a>
				<ul class="nav navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
								<img class="rounded-circle user_img" id="user_image" alt="Logo" src="{{ session['user']['picture'] }}">
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="menu">
									<div>Logged in as</div>
									<div><b>{{ session['user']['given_name'] }} {{ session['user']['family_name'] }}</b></div>
									<div class="menu-light-text">{{ session['user']['email'] }}</div>
									<span class="menu-light-text" id="uploaded-file"></span>
									<label class='file-container'>
										<i class="fas fa-key"></i>
										Select your private key
										<input id="file-input" type="file" size="60">
									</label> 
									<div class="dropdown-divider"></div>
									<div>
										<a href="{{ url_for('.auth', action='logout') }}" role="button" class="btn btn-lg btn-outline-danger btn-block">
											<i class="fas fa-power-off"></i>
											Logout
										</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
			</div>
		</nav>

		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat">
                    <div class="card mb-sm-3 mb-md-0 contacts_card">
                        <div class="card-header">
                            <div class="input-group">
                                <input type="text" placeholder="Search..." name="" class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body contacts_body">
                            <ui class="contacts">
								{% for user in users: %}
                                <li class="">
									<div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="{{user.avatar_url}}" class="rounded-circle user_img">
                                        </div>
                                        <div class="user_info">
                                            <span>{{user.first_name}} {{user.last_name}}</span>
                                            <p>{{user.email}}</p>
                                        </div>
									</div>
                                </li>
								{% endfor %}
                            </ui>
                        </div>
					    <div class="card-footer"></div>
                    </div>
                </div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://banner2.kisspng.com/20180401/rle/kisspng-computer-icons-user-profile-male-user-5ac10d05430db1.7381637515226012212747.jpg" class="rounded-circle user_img">
								</div>
								<div class="user_info">
									<span>Select user to start chatting!</span>
								</div>
							</div>
						</div>
						<div class="card-body msg_card_body">
							<h2>No new messages...</h2>
						</div>
						<div class="card-footer">
							<div class="input-group unclickable">
								<div class="input-group-append" id="encrypt_msg">
									<span class="input-group-text encrypt_btn"><i class="fas fa-lock"></i></span>
								</div>
								<textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
								<div class="input-group-append">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
