<!DOCTYPE html>
<html>
    <head>
        <title>Chatty! -  Enjoy awesomemess</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    </head>
    <body>
        <div class="container-fluid bg">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="login-container">
                        <center><h2>Welcome to Chatty!</h2></center>
                        <img src="{{ url_for('static', filename='images/logo.png')}}" style="max-width: 250px" class="profile-image"/>
                        <hr>
                        <a href="{{ url_for('.private_key') }}" role="button" class="btn btn-lg btn-outline-primary btn-block">
                            Download Private Key
                            &nbsp;<i class="fa fa-download" style="font-size:24px"></i>
                        </a>
                        <a href="{{ url_for('.index') }}" role="button" class="btn btn-lg btn-outline-primary btn-block">
                                Proceed!
                                &nbsp;<i class="fa fa-angle-double-right" style="font-size:24px"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
